/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Background Setup */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
body {
    background-color: #1c2831;
    background-image: url(../media/bg.png);
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: 0px 0px; 
    overflow: hidden;
}
body, div, i, span, li {
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0,0,0);
}

.relative {
    position: relative;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Header Area */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.pubnub {
    position: absolute;
    top: 45px;
    left: 128px;
    width: 80px;
    height: 25px;
    opacity: 0.9;
    background-image: url(../media/pubnub.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.header-area {
    height: 100px;
}
.smart-home {
    margin-top: 10px;
    font-size: 20px;
    line-height: 50px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #bbe4fd;
}
.smart-home img {
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: 10px;
    margin-left: 20px;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Octo GUI */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.octo-indicator {
    position: absolute;
    left: 67px;
    bottom: 34px;
    width: 66px;
    height: 4px;
}

/* OFF */
.octo-off i.fa { color: #f45245 }
.octo-off div.relative div.octo-indicator {
    background: rgba(120,120,140,0.1);
}

/* ON */
.octo-on i.leds { color: #64cb93 }
.octo-on div.octo-indicator.leds {
    box-shadow:
        0px 0px 40px #64cb93,
        0px 0px 10px #64cb93;
    background: #64cb93;
}
.octo-on i.door { color: #f45245 }
.octo-on div.octo-indicator.door {
    box-shadow:
        0px 0px 40px #f45245,
        0px 0px 10px #f45245;
    background: #f45245;
}
.octo-on i.conf { color: #b36ddc }
.octo-on div.octo-indicator.conf {
    box-shadow:
        0px 0px 40px #b36ddc,
        0px 0px 10px #b36ddc;
    background: #b36ddc;
}

.octo-hitbox {
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 128px;
    /*background: rgba(255,0,0,0.5);*/
}
#octo-leds-hitbox {
    top: 26px;
    left: 50px;
}
#octo-door-hitbox {
    top: 91px;
    left: 163px;
}
#octo-conf-hitbox {
    top: 156px;
    left: 50px;
}
.octo {
    position: absolute;

    background-image: url(../media/octo.png);
    background-size: 100%;
    background-repeat: no-repeat;

    width: 200px;
    height: 200px;

    text-align: center;
    font-size: 50px;
    line-height: 180px;
}
.octo-hidden {
    opacity: 0;
}
.octo-leds {
    top: 0px;
    left: 0px;
}
.octo-door {
    top: 65px;
    left: 113px;
}
.octo-conf {
    top: 130px;
    left: 0px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Main Menu GUI */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#octo-group {
    position: absolute;
    top: 2px;
    left: 150px;
    width: 350px;
    height: 350px;
}
#numbers-group {
    position: absolute;
    top: 0px;
    left: 150px;
}
#labels-group {
    position: absolute;
    top: 0px;
    left: 150px;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Octo Animation */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#octo-group,
.octo {
    -webkit-transition: all 0.9s;
}
.octo-labels,
.tempurature {
    -webkit-transition: all 1.0s;
}
div#octo-group.octo-off-screen {
    -webkit-transition: all 1.0s;
    -webkit-transform: rotate(-180deg);
    -webkit-transform-origin: 280px 110px;
    opacity: 0.2;
}
.octo-off-screen .octo {
    -webkit-transition: all 1.0s;
    -webkit-transform: rotate(180deg);
}
.octo-off-screen .tempurature {
    -webkit-transition: all 1.0s;
    -webkit-transform: rotate(10deg) translate(0px,-100px);
    opacity: 0;
}
.octo-off-screen .octo-labels {
    -webkit-transition: all 1.0s;
    -webkit-transform: rotate(4deg);
    opacity: 0;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Octo Labels */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.octo-labels {
    position: absolute;
    top: 0px;
    left: 0px;
}
.octo-labels .octo-leds {
    position: absolute;
    top: -4px;
    left: 156px;
    width: 155px;
    height: 2px;
    background-color: #64cb93;
}
.octo-labels .octo-leds-ang {
    position: absolute;
    top: 11px;
    left: 130px;
    width: 32px;
    height: 2px;
    background-color: #64cb93;
    -webkit-transform: rotate(-60deg);
}
.octo-labels .octo-leds-title {
    position: absolute;
    top: -24px;
    left: 264px;
    color: rgba(255,255,255,0.9);
    font-weight: 200;
}

.octo-labels .octo-door {
    position: absolute;
    top: 156px;
    left: 290px;
    width: 105px;
    height: 2px;
    background-color: #f45245;
}
.octo-labels .octo-door-title {
    position: absolute;
    top: 136px;
    left: 354px;
    color: rgba(255,255,255,0.9);
    font-weight: 200;
}

.octo-labels .octo-conf {
    position: absolute;
    top: 317px;
    left: -111px;
    width: 155px;
    height: 2px;
    background-color: #b36ddc;
}
.octo-labels .octo-conf-ang {
    position: absolute;
    top: 302px;
    left: 38px;
    width: 32px;
    height: 2px;
    background-color: #b36ddc;
    -webkit-transform: rotate(-60deg);
}
.octo-labels .octo-conf-title {
    position: absolute;
    top: 297px;
    left: -111px;
    color: rgba(255,255,255,0.9);
    font-weight: 200;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Tempurature */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.tempurature-deg {
    position: relative;
    top: -27px;
    font-size: 140px;
    line-height: 100px;
    font-weight: 100;
    vertical-align: middle; 
}
.tempurature {
    position: absolute;
    top: -50px;
    left: 140px;
    font-size: 170px;
    letter-spacing: -6px;
    line-height: 170px;
    color: rgba(255,255,255,0.1);
    font-weight: 400;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Sub Menu Display */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
.sub-menu {
    /*
    -webkit-transition: all 0.2s;
    -webkit-transform: translate(0px,-540px);
    */
    display: none;
}
.sub-menu-visible {
    display: block;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Light Bulbs */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#light-menu {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 100%;
    height: 354px;
    background: -webkit-linear-gradient(
        top,
        rgba(100,203,147,0)     0%,
        rgba(100,203,147,0.04) 14%,
        rgba(100,203,147,0.09) 30%,
        rgba(100,203,147,0.4)  64%,
        rgba(100,203,147,0)   100%
    );
}
input[type=range].vertical-light {
    display: inline-block;
    -webkit-appearance: slider-vertical;
    width: 24px;
    height: 270px;
}
.light-select {
    cursor: pointer;
    border-radius: 100px;
    padding: 0px;
    text-align: center;
    margin: 0px 0px 10px -40px;
    font-size: 12px;
    line-height: 40px;
}
.light-selected {
    color: #64cb93;
    background-color: #fff;
    box-shadow:
        0px 0px 40px #64cb93,
        0px 0px 10px #64cb93;
}
.light-unselected {
    color: #fff;
    background-color: #64cb93;
    box-shadow:
        0px 0px 20px rgba(0,0,0,0.3),
        inset 0px -14px 0px -10px #74dba3;
}

.light-slider-label {
    font-size: 10px;
    color: #fff;
    font-weight: 400;
    text-align: center;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* DOOR GUI */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#door-menu {
    position: absolute;
    top: 120px;
    left: 80px;
    width: 400px;
    text-align: center;
}
#door-nudge-open,
#door-nudge-close,
#door-open,
#door-close {
    cursor: pointer;
    display: inline-block;
    padding: 0 30px;
    width: 150px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    border: 0;
    outline: 0;
}
div.door-nudge-buttons {
    margin: 20px 0;
}
div.door-nudge-buttons #door-nudge-open,
div.door-nudge-buttons #door-nudge-close {
    font-size: 10px;
    width: 100px;
    line-height: 30px;
    padding: 0 20px;
}
.door-button-click {
    box-shadow:
        0px 0px 20px 1px rgba(0,0,0,0.9),
        inset 0px -14px 0px -10px #04dba3;
}
#door-nudge-open,
#door-open {
    -webkit-border-top-left-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    background-color: #fff;
    color: #f45245;
}
#door-nudge-close,
#door-close {
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    background-color: #f45245;
    color: #fff;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* DEBUG GUI */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#debug-menu {
    position: absolute;
    top: 20px;
    left: 0px;
    width: 100%;
    background: -webkit-linear-gradient(
        top,
        rgba(200,3,147,0)     0%,
        rgba(200,3,147,0.04) 14%,
        rgba(200,3,147,0.09) 30%,
        rgba(200,3,147,0.4)  64%,
        rgba(200,3,147,0)   100%
    );
}
#log div {
    white-space: nowrap;
}
#log {
    width: 600px;
    height: 350px;
    overflow: hidden;
    font-size: 8px;
    font-weight: 200;
    font-family: Monaco, mono;
    color: rgba(255,255,255,0.3);
    text-align: left;
}
